*.o
/.libs/
/Makefile
/autom4te.cache/
/aclocal.m4
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.guess
/config.sub
/configure
/configlexer.c
/configparser.c
/configparser.h
/zlexer.c
/zparser.c
/zparser.h
/nsd
/nsd-checkconf
/nsd-checkzone
/nsd-control
/nsd-control-setup.sh
/nsd-checkconf.8
/nsd-checkzone.8
/nsd-control.8
/nsd.8
/nsd.conf.5
/nsd.conf.sample
/nsd-mem
/cutest
/popen3_echo
/udb-inspect
/xfr-inspect
/contrib/nsd.openrc
/contrib/nsd-tmpfiles.conf
/dnstap/dnstap.pb-c.c
/dnstap/dnstap.pb-c.h
/dnstap/dnstap_config.h
/tpkg/result.*
/tpkg/.done-*
/tpkg/long/result.*
/tpkg/long/.done-*
/tpkg/long/*.log
/*.ll

# Eclipse IDE Project Settings
.cproject
.project
.settings/
