;
; nsd.zones -- a list of the zones to be compiled into the NSD database
;
; Copyright (c) 2001-2004, NLnet Labs. All rights reserved.
;
; See LICENSE for the license.
;

; This is a comment

; The filenames are relative to ${zonesdir}
;
; The masters keyword indicates that the zone should be AXFR'd from appropriate
; ip-address of the master DNS server on subsquent nsdc(8) update if necessary.
;
; The notify keyword will trigger notify messages sent to the given ip-addreses
; on every NSD database (re)load.
;
; zone	name		filename		[ masters/notify ip-address ]
;zone	.		primary/root.zone	notify 128.9.0.107 192.33.4.12 128.8.10.90
;zone	ww.net		primary/ww.net
;zone	nlnetlabs.nl	secondary/nlnetlabs.nl	masters 213.53.69.1

