Source: nsd
Section: net
Priority: optional
Maintainer: nsd packagers <nsd@packages.debian.org>
Uploaders:
 Ondřej Surý <ondrej@debian.org>,
 Markus Schade <markus.schade@gmail.com>,
 Daniel Kahn Gillmor <dkg@fifthhorseman.net>,
 Simon Josefsson <simon@josefsson.org>,
Build-Depends:
 bison,
 debhelper (>= 12),
 flex,
 libevent-dev,
 libfstrm-dev,
 libprotobuf-c-dev,
 libssl-dev,
 libsystemd-dev [linux-any],
 openssl,
 pkgconf,
 po-debconf,
 protobuf-c-compiler,
Rules-Requires-Root: no
Standards-Version: 4.7.0
Vcs-Browser: https://salsa.debian.org/dns-team/nsd
Vcs-Git: https://salsa.debian.org/dns-team/nsd.git
Homepage: https://www.nlnetlabs.nl/projects/nsd/about/

Package: nsd
Architecture: any
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 adduser,
 openssl,
 ${misc:Depends},
 ${shlibs:Depends},
Description: authoritative domain name server
 The NLnet Labs Name Server Daemon (NSD) is an authoritative DNS name server.
 It has been developed for operations in environments where speed,
 reliability, stability and security are of high importance.
 .
 This package provides the server and related configuration files.
