example.       3600 IN SOA ns1.example. bugs.x.w.example. (
                           1071609350
                           3600
                           300
                           3600000
                           3600
                           )
               3600 RRSIG  SOA 5 1 3600 20040115201552 (
                           20031216201552 41681 example.
                           F1KxMLu2zwDUFgUtdAqCq6F9zkaIPb3B7dzA
                           hRLp8riOMQQgCCQ4x9KvSu2xLJa539jQIRW0
                           VBU6+FZWzC2IJcc5liv2SXzyfiPu8diB9+Bj
                           CSITjVX0IGrQgd+PKkaTxWQzG9TDZ2TtgnyM
                           owLe/OV+Qqqic7ShV/S9l2YJF9I= )
               3600 NS     ns1.example.
               3600 NS     ns2.example.
               3600 RRSIG  NS 5 1 3600 20040115201552 (
                           20031216201552 41681 example.
                           YgTFj4yXRzbOddwfOTQhLHGPWm7x55ZRoPVz
                           +bxuPHTozw3I2gpno81Em1RuVekWJHivAvQj
                           s1h72oh+ipBadjCGSRu46u1T9JYUSLxLecgY
                           eEw9qDeQIoZHRny5bYrX1x87ItEo5+n1lwOH
                           FTVyQbVkcaxQ6U2FbZtMbfo//go= )
               3600 MX     1 xx.example.
               3600 RRSIG  MX 5 1 3600 20040115201552 (
                           20031216201552 41681 example.
                           JE9Kcx4NaXpaO2Jjyo5yi+DT6wgxwregHg18
                           7xOOF0KjIYQpaoFY3Kp8MAKT7aupZpr5DmHe
                           IpBNI6jC59A2uNVP+6UfqAyJMoNnq9d/paM+
                           M+adwb+xrT+dZYpFZzyeXPmBqA/PVAtw1d5Q
                           7wxkDWyzgasGiMNIKgYrm9vXz04= )
               3600 NSEC   a.example. NS SOA MX RRSIG NSEC DNSKEY
               3600 RRSIG  NSEC 5 1 3600 20040115201552 (
                           20031216201552 41681 example.
                           kE9ARiewdQSCsLXY9ldasZEW54kKhfEN2lsT
                           vDD4biJsTPeaOXJ6bJ7s0CvybknENin3uqIX
                           TAy6bsL919sEI3/SoHiRCwHalVmUPIWCsz4g
                           Ee7gkQ+1uFzi7L8LGX9NjQI74s3M//OW2+T4
                           7T/nOEOVZujD8IN/Utv+KUg+P6U= )
               3600 DNSKEY 256 3 5 (
                           AQPmfvH5TF0S/vnd08C9EbVlG/+wbmFecyjH
                           UtEh3d8h045BE36XSbr0XZU6kPLgA/Shf7TV
                           fKduDMH7ASlP8MpUX4ci9ZiXffBjUKvsHORv
                           BgtAcUYRofvzRZ/jl078bI/JJg9ee4ndY6FO
                           5LtAM3ElSpRIIhAm4b2c69IMdwrU2Q==
                           )
               3600 DNSKEY 257 3 5 (
                           AQOwHAYrbYVzzKHF0PDHSt4zY+Vz1+yLz1/U
                           Pv2j2nukkWKLipnqg8X2vI754SRpqwpPCKpv
                           klUr36CE0byYLOpRE5WlKZjXm3uzDFIVdHUE
                           2lFwkMP9tSHUrXbjypiZWZP71qNuBeYCDAyT
                           nLu7mxrT1Y7GdSV7I6vwt0mDSWQDXQ==
                           )
               3600 RRSIG  DNSKEY 5 1 3600 20040115201552 (
                           20031216201552 41681 example.
                           Pkxt/YJHVcnm3+56YGYziM69NDFJDEernUEU
                           pU1yBY8H7TlvIWhJz/qHsWcPt79ri0lP0Ho5
                           YDVp6GOFxBcR/7ejtV/izHO5tb88WM8xJLNc
                           tJZeSSVG62kt1q5fiKKsxhhpqZFQgc+h6htG
                           PjJstq6fvRq8kX7TPJcljUmDFKM= )
               3600 RRSIG  DNSKEY 5 1 3600 20040115201552 (
                           20031216201552 60717 example.
                           EVJnkWJSUTdaxIRX374Ki84OhYRYB+7TM/Z/
                           C8ufeGjcZkAPpkA3XjPao+4kG/lR/qW8oyNK
                           L0g5BI9fkcptXjf+0y3n5y/con6f+FOwHgdY
                           J7/fjSW27L3Je0MSrR3T/RNaokZafWDCT/34
                           Uu/YHFJKdBxs7sMeSBJ4UPm2uwc= )
a.example.     3600 IN NS  ns1.a.example.
               3600 IN NS  ns2.a.example.
               3600 DS     48327 5 1 (
                           DFEB5E00E71A4DED5CABBBD7F15F24871983
                           CAB7 )
               3600 RRSIG  DS 5 2 3600 20040115201552 (
                           20031216201552 41681 example.
                           wj4ME4MuuZN77PGiE8xgBmCXpRpUocRJLbW/
                           hBbMGk2qtA9ose1Jr2F9rOU6zvU9Z0HQgxnb
                           rSBfaeCZFmk3yOlo9Uqref4ukk9hwIjzxo7c
                           ZbJstCYWiLF57i1k5Cj6npMbUZSIgRGcB+dC
                           0yfe2uolEkeegjesDZuF+fC61Eg= )
               3600 NSEC   ai.example. NS DS RRSIG NSEC
               3600 RRSIG  NSEC 5 2 3600 20040115201552 (
                           20031216201552 41681 example.
                           iq8exEVhvdx4s3w3VmK3Mzfngwpmpv3NwOpb
                           RMtgba/u5kyD4Mf03jyLtJLUevry2rZcRjF1
                           3kDuKmewJ0jWA4sMuljJpx10rhvwlcKaJE3O
                           ViEb66GFqDxCXExikKWsPm8qckYZLQ7ABNjf
                           YgfAHJEJJj7K88QbKEK4/Je1hyk= )
ns1.a.example. 3600 IN A   192.0.2.5
ns2.a.example. 3600 IN A   192.0.2.6
ai.example.    3600 IN A   192.0.2.9
               3600 RRSIG  A 5 2 3600 20040115201552 (
                           20031216201552 41681 example.
                           hxNyPE9Wn675NDH/IpB2LZzhrUtV9eEndid8
                           jiteGyki6CAEJKm1Dr2bjlrzdgfFBrpIac9c
                           Up4zMlAkitX/7D9vFus8nLSvEHngpdc12Hlk
                           OrvT0EsYA2XeQ0h3PPQk5FcK2ekxZvw5Zm7A
                           sWifTxvcG5hv+A6TOd0O2xJYRik= )
               3600 HINFO  "KLH-10" "ITS"
               3600 RRSIG  HINFO 5 2 3600 20040115201552 (
                           20031216201552 41681 example.
                           4aSnKLykRT7htnnS8HtlM0YLMwU1Z92pvf/C
                           hxETE5B6W8x+uJs9KV9nlZ/B6TNk4nFRgKg2
                           KpKvEq7xUybNKwbbeGZE9n2fDH0FeDgHjqW2
                           Ke0lQuszRxjx+McTEqVJMyHrBKnqNdUh1G92
                           xo9NLoltg0GuwggZM240pRoTwO8= )
               3600 AAAA   2001:db8::f00:baa9
               3600 RRSIG  AAAA 5 2 3600 20040115201552 (
                           20031216201552 41681 example.
                           oq16/pU4MuvkgQyFqGrHqggz47i6iZL714u5
                           9UsmGM1Y/qyQZsR4wi6hC2zIWXNJxIPIhitJ
                           G6M5pjExUH/vOe0DIW73t/NHzcj0zOjxAPEI
                           A+jBlOwn2EY5q87PMzBIeHWSx7DxtEIMC8XI
                           zkK+1+Z5aqj1pmZ4yXUvd2znGnQ= )
               3600 NSEC   b.example. A HINFO AAAA RRSIG NSEC
               3600 RRSIG  NSEC 5 2 3600 20040115201552 (
                           20031216201552 41681 example.
                           Xr3qBss/U0yN12SL2stWs0AACeQjvRms9+xE
                           ishTjb4B/XQ8yAfAmby5yF5DKR8900M0hT3Y
                           ikp/wIF4TmtH5W7UFN13To/GWGJygaa7wyzU
                           4AtgtRwmmevSAgzxhC7yRXUWyhpfQoW7zwpR
                           ovChG5Ih3TOa8Qnch4IJQVfSFNU= )
b.example.     3600 IN NS  ns1.b.example.
               3600 IN NS  ns2.b.example.
               3600 NSEC   ns1.example. NS RRSIG NSEC
               3600 RRSIG  NSEC 5 2 3600 20040115201552 (
                           20031216201552 41681 example.
                           nFufQRM2UtSYTAwQaKEnIpua5ZHLqJrcLGAs
                           VUpLoPOEsAXex1N3uIJQWmoXnr9Up00G7jbW
                           VOVaLUvXR7b/4sQkyQLbOl9GpWiA1NYjPneN
                           k3i+OWi3NmvRN71CuNky87DrVg0p2Mf2MjLX
                           GRIZP9W1bgeDHZRcCNz2hQ67SgY= )
ns1.b.example. 3600 IN A   192.0.2.7
ns2.b.example. 3600 IN A   192.0.2.8
ns1.example.   3600 IN A   192.0.2.1
               3600 RRSIG  A 5 2 3600 20040115201552 (
                           20031216201552 41681 example.
                           5FrF88yOT6iiBdkiQLqaXkma0gCQza5/kLK7
                           CgoMNlCR2QYhsur2X7Fex2/OYEmOkzOqO7Gs
                           RoIc4e3nt+kfpd/4Htp9T5v+NXmMVPmW3Jmf
                           +ZGpEf86AI7Rw3x2bSmVOzsxa4xUxE+DuINa
                           WNJ/ulvIFa20d0xtlB7jazNCZ3Y= )
               3600 NSEC   ns2.example. A RRSIG NSEC
               3600 RRSIG  NSEC 5 2 3600 20040115201552 (
                           20031216201552 41681 example.
                           WaeyPcQtFjXj4cxDcqVseuhZPA4K/qSb7ylZ
                           sj55rJ8OqEKDYt71e1MT3F5p76wKtLaPmoc0
                           eLGnDD+Xouu/tWXtsjj5QpMhl13DUD0GLBiA
                           s/wwxreW0SWkh4JJirodDE7vSIiI6gPJYhIj
                           I2A5W86mMEbSgEF/pZHX/wi5FJI= )
ns2.example.   3600 IN A   192.0.2.2
               3600 RRSIG  A 5 2 3600 20040115201552 (
                           20031216201552 41681 example.
                           sfFOjxKZz1LMhyDfmB43RhIUVOHlVbLtP0lL
                           xBsxcHt48NKLth81pzSWRFQfUtMCjaGWMtuK
                           HFEVaAQXcwllWXXLbVpc9a32govT+hsapcht
                           sPyxkcEpYEFTtB93edKRVQ0IgZBPOI02R6vG
                           wCbeY0Rl8MIRcAaiIkFos/8hd1g= )
               3600 NSEC   *.w.example. A RRSIG NSEC
               3600 RRSIG  NSEC 5 2 3600 20040115201552 (
                           20031216201552 41681 example.
                           Vxovi9gQjxqYBI5QF2ZcbZ/5my7C+22uXKVb
                           IN5dmV82uu2TqJ4g2a2KKywlVi+4Kcnm4O3b
                           f7pV4g7pcQopa9AFiY8byFrPftuNvraDyp6J
                           aPllr/HnIPGP4Vw78LKW4n812K2VxV8p/IJl
                           yCup5bk/Dr47eU2/6+lqrBTOV8Q= )
*.w.example.   3600 IN MX  1 ai.example.
               3600 RRSIG  MX 5 2 3600 20040115201552 (
                           20031216201552 41681 example.
                           mzcZPkLFaFycrnJuHY8LHdmvmyD8prPbQXHg
                           OXuGLRpO+qRU04v97KYNy8si1Ijmo85nI4Ns
                           Hl2+WpbMguW9gyPpdHqIYkKJbOrX2b4bz6WA
                           n7NlR05Rf2tE3e54a1LP0po55yqGtxdPKWOK
                           91Ena87PA2MvoOE+A3ZpEk8MjEE= )
               3600 NSEC   x.w.example. MX RRSIG NSEC
               3600 RRSIG  NSEC 5 2 3600 20040115201552 (
                           20031216201552 41681 example.
                           OeBMvLlBam90xU/KxvyAYBNGWpvMf1TbaJFr
                           f0Ip+tTkiqeEE8fx2ZAg1JcY9uhldms/9y45
                           9HxO9Q3ZO6jfQzsx62YQaBte85d/Udhzf4AK
                           /RHsZGSOabsu6DhacWC2Ew7vEgcMfiPHFzWW
                           ANi1i3zhPOd3+Vjt4IQzaJXqVZE= )
x.w.example.   3600 IN MX  1 xx.example.
               3600 RRSIG  MX 5 3 3600 20040115201552 (
                           20031216201552 41681 example.
                           g2H7+tChKsYRqxDkrLZgraaKBF2pah6YNCEW
                           ORmXLzrB6RWtXbjVHXjagBhZYsMPzkPqwn4m
                           8IYSaPD0X3z001aXsgsh9WF+AOgbqa0eoIIY
                           MHIEJ9MHB5cS33XXv2fY6iFmjLuZUz+pNSfv
                           btznHMFDIbtuw/tAX7xXH2pDDHY= )
               3600 NSEC   x.y.w.example. MX RRSIG NSEC
               3600 RRSIG  NSEC 5 3 3600 20040115201552 (
                           20031216201552 41681 example.
                           zwAU3bQHLeDawvqbvlmNosGMGDz9wdEe/iia
                           CU8DbanqOzUiPfqEgBN3evFMpGBM9H3zMjGA
                           EjnP4fMerk7dzD8jfyLzNdCGsJjPtnEgctGA
                           aNd+NGtSmedzeNGvlj7mNxnAdqHFY1c902pT
                           3lMXiX4KNWUhB87q/pT/5z+xrqY= )
x.y.w.example. 3600 IN MX  1 xx.example.
               3600 RRSIG  MX 5 4 3600 20040115201552 (
                           20031216201552 41681 example.
                           slLY7KbPseET3XMJz/yGJBJpDczy1N2W4SAD
                           v5Jx/osOWviEJBpUEwRndX+VmsmQJqKsQxtE
                           unmxl4Sh9cuVyALJy1ByF9hZ0+E3i35qoxOK
                           Oe+JZyiEiebZfZ8doH5J+keCkIQ8EHzw8Hnk
                           Iykd5UmaTO5j4LlRnAvF8Z1m9/k= )
               3600 NSEC   xx.example. MX RRSIG NSEC
               3600 RRSIG  NSEC 5 4 3600 20040115201552 (
                           20031216201552 41681 example.
                           sjHnEm4kiIK64bRskNc3vxEHe12l9Lg8Y7G8
                           VsXMUEEDeBCB3qlrGQeqhdl+gsQGRBiOA8Jj
                           Jr5F9RNZepVLGv+t5fALeoe0gLHsWoTlfTdq
                           AJ8a2E5BZYYvy9hjh9Y4Kqd23HOv21o2OC0J
                           viOQHZ6I4xoZQP5G7r98/PhlrLM= )
xx.example.    3600 IN A   192.0.2.10
               3600 RRSIG  A 5 2 3600 20040115201552 (
                           20031216201552 41681 example.
                           fQfj8RhKKhC2vI0OJxgnZLeXFhpMmpjwV/ap
                           tCkUP1YagLF9gB4NLRUrV1QO/e1f2zyxSngq
                           iDW9yUJjKQcv9EWzbDd0kzXxPu11y/iS7oMS
                           KOsVB4Mp7BM5q2kcBXBrM+Rr0eibvBXmHs8G
                           0ToQVY81bPc3WXKZjRxQl3jiKtU= )
               3600 HINFO  "KLH-10" "TOPS-20"
               3600 RRSIG  HINFO 5 2 3600 20040115201552 (
                           20031216201552 41681 example.
                           fZIotOyJqpRTZ0KH5lsZIksuyslAMckBclZw
                           p3LJiaYAibf+rwNFpS3CPUFsyCrA8UL+iVfA
                           gTxa6O8+yKYsDXZ2x6wPPDqmBEeHT1XiKEA/
                           pC+O35tVS6oLMYWJyGAGBJitXZQGr+MiBvSp
                           EDXT07qFXtGntvBSpF9uQbEub6Y= )
               3600 AAAA   2001:db8::f00:baaa
               3600 RRSIG  AAAA 5 2 3600 20040115201552 (
                           20031216201552 41681 example.
                           kLh5dTA0XBIIjEV/guGo9pEOKNZ0Elvbuhm2
                           dFbnHuZ1tLirjzCYr8CsmF9bSIKLbiMRc/SD
                           mDhMUKFMhsVqCMwqfYjxXvTOG21BKyCki0Gg
                           CgvRD47lC4NnCSaB6B6Ysj0Aupv75Nnqwi9Z
                           D4ZubIon0XGe9fIjLnmb3pX/FUk= )
               3600 NSEC   example. A HINFO AAAA RRSIG NSEC
               3600 RRSIG  NSEC 5 2 3600 20040115201552 (
                           20031216201552 41681 example.
                           sbF8bfC6zqyuio2iov0C9byDCejWvxMJYgjn
                           uy3nXbvVXXzcA+d2zG6uPQ8VLRSolCE+OQqE
                           NsABxmoBhBwdxCrCpnU8SvzAkrRLwuOqAu1a
                           1yBIfd352PHkQg1sxVDHGoFo3cFKzvkuD187
                           sSNF3PAC0HPadh7SdHmXlFQtQ44= )
