example.       3600 IN SOA ns1.example. bugs.x.w.example. (
                           1071609350
                           3600
                           300
                           3600000
                           3600
                           )
               3600 RRSIG  SOA 5 1 3600 20040115201552 (
                           20031216201552 41681 example.
                           F1KxMLu2zwDUFgUtdAqCq6F9zkaIPb3B7dzA
                           hRLp8riOMQQgCCQ4x9KvSu2xLJa539jQIRW0
                           VBU6+FZWzC2IJcc5liv2SXzyfiPu8diB9+Bj
                           CSITjVX0IGrQgd+PKkaTxWQzG9TDZ2TtgnyM
                           owLe/OV+Qqqic7ShV/S9l2YJF9I= )
              3600 DS     42939 1 1 (
                           4BA08982E5739A60E02B69409B0927F9524E
			   3494 )
               3600 NS     ns1.example.
               3600 NS     ns2.example.
	       3600 TYPE12442  \# 4  0A0000 01
	       3600 TYPE41234  \# 4  0A0000 01
               3600 RRSIG  NS 5 1 3600 20040115201552 (
                           20031216201552 41681 example.
                           YgTFj4yXRzbOddwfOTQhLHGPWm7x55ZRoPVz
                           +bxuPHTozw3I2gpno81Em1RuVekWJHivAvQj
                           s1h72oh+ipBadjCGSRu46u1T9JYUSLxLecgY
                           eEw9qDeQIoZHRny5bYrX1x87ItEo5+n1lwOH
                           FTVyQbVkcaxQ6U2FbZtMbfo//go= )
www                     IN      CNAME   elektron
elektron.wireless       IN      CNAME   elektron
; IPv6
kopje6                  IN      AAAA    2001:7b8:206:1003::abcd
elektron6               IN      AAAA    2001:7b8:206:1003:280:48ff:feb3:26eb
arena6                  IN      AAAA    2001:7b8:206:1003:250:fcff:fe85:83d7
